* {
  padding: 0;
  margin: 0; }

.main {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 88vw;
  height: 100%;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 5px; }

.task {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #f7f7f7; }
  .task .date-theme {
    min-height: 40px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #aaa; }
  .task .task-body-cont {
    display: flex;
    flex-direction: row;
    margin-top: 10px; }
    .task .task-body-cont .ds-kw-kf-cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%; }
      .task .task-body-cont .ds-kw-kf-cont .task-description {
        margin: 4px;
        padding: 4px;
        background-color: #f2f2f2;
        border-radius: 3px;
        text-align: justify; }
      .task .task-body-cont .ds-kw-kf-cont .keywords ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 4px;
        padding: 4px;
        border-left: 3px solid #ccc;
        border-right: 3px solid #ccc; }
        .task .task-body-cont .ds-kw-kf-cont .keywords ol li {
          margin-left: 18px; }
      .task .task-body-cont .ds-kw-kf-cont .keyfunctions {
        margin: 4px;
        padding: 4px; }
    .task .task-body-cont .resources-container {
      margin-top: 4px;
      margin-bottom: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      border-left: 2px solid #ccc;
      border-right: 2px solid #ccc; }
      .task .task-body-cont .resources-container .source {
        padding: 5px;
        height: 50%;
        border-bottom: 1px solid #bbb;
        overflow-wrap: break-word; }
      .task .task-body-cont .resources-container .work {
        padding: 5px;
        height: 50%;
        margin-top: 10px;
        overflow-wrap: break-word; }
